<footer>
 <div class="container py-5">
    <div class="row ">
        <div class="col-md-6">
            <a class="navbar-brand" href="#"><img src="../../assets/Vector (1).png"> HIGHKING</a>
            <p class=" par my-3">We envision a world where everyone feels welcome in the American hiking community.</p>
            <div class="icons mt-5">
                <a href="http://"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="http://" class="mx-4"><i class="fa-brands fa-twitter"></i></a>
                <a href="http://"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-between">
            <div class="location ">
                <h5>Location</h5>
                    <ul class="my-4">
                        <li><a href="http://">Africa</a></li>
                        <li><a href="http://">Europe</a></li>
                        <li><a href="http://">Asia</a></li>
                        <li><a href="http://">America</a></li>
                    </ul>
            </div>
            <div class="contact">
                <h5>Contact</h5>
                    <ul class="my-4">
                        <li><a href="http://">About Me</a></li>
                        <li><a href="http://">Teams</a></li>
                        <li><a href="http://">Profile</a></li>
                        <li><a href="http://">FAQ</a></li>
                    </ul>
            </div>
            <div class="Legals">
                <h5>Legals</h5>
                    <ul class="my-4">
                        <li><a href="http://">Privacy</a></li>
                        <li><a href="http://">Disclaimer</a></li>
                        <li><a href="http://">Terms</a></li>
                        <li><a href="http://">Company</a></li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-12 text-center my-5">
        <h6 class=" ">Copyright © 2021. All Right Reserved.</h6>
    </div>
 </div>   
</footer>
