
<div class="section">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container my-4">
          <div class="">
            
            <a class="navbar-brand" href="#"><img src="../../assets/Vector (1).png"> HIGHKING</a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Location</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Blogs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Testmonials</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="header container mt-5 d-flex justify-content-between align-items-center flex-wrap">
        <div class="row">
            <div class="text col-md-6 mt-5">
                <h1>Be prepared for the mountains and beyond.</h1>
                <p>Are you looking for amazing hiking<br> travel? Don't worry! We got it for you!</p>
                <button class="btn btn-primary btn-lg mx-5 ">Contact Us</button>
                <button class="btn btn-outline-primary btn-lg ">Watch Video</button>
            </div>
            <div class="img  col-md-6">
                <img src="../../assets/rec.png" alt="zzzzzzzzz">
            </div>
        </div>
    </div>
</div>
