<div class="row ">
    <div class="service col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/icon.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Secret Locations</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do eiusmod tempor.</p>
              <a href="#" class="">Read More</a>
            </div>
          </div>
    </div>
    <div class="service col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/icon (1).png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Secret Locations</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do eiusmod tempor.</p>
              <a href="#" class="">Read More</a>
            </div>
          </div>
    </div>
    <div class="service col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/icon (2).png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Secret Locations</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do eiusmod tempor.</p>
              <a href="#" class="">Read More</a>
            </div>
          </div>
    </div>

    <div class="text-center my-5">
        <p>Don't hesitate to contact us to get better Information. <span>  EXPLORE ALL TREKKING.</span></p>
    </div>
</div>
