.row{
    margin-top: 100px;
}
.service{
    background-color: rgb(242, 242, 244);
    padding: 50px;
}
.card{
    border: none;
    background-color: transparent;
}

img{
    width: 50px;
    margin: 20px 0;
}
.card-body {
    padding: 0;
}
a{
    color: #fe2c54;
}
p{

}
span{
    color: #fe2c54;
    font-weight: 900;
    font-size: 1.1rem;
    font-style: italic;
}
