/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Poppins', sans-serif;   
    font-weight: 500; 
    color: rgb(43, 43, 43); 
}
.section, footer{
    background-image: url("src/assets/hero-base.png");
}
.row{
    margin-top: 100px;
    margin-bottom: 100px;
}
h2{
    font-size: 3.8rem !important;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
button{
    border-radius: 30px !important;
    padding: 10px 30px !important;
    margin-top: 20px;
    margin-left: 0 !important;
}
p{
    color: #6c757d!important;
    
}
h5{
    color: black;
    font-size: 1.3rem;
    font-weight: 700;
}